*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: black;
  color: black;
}

html {
  font-size: 62.5%;
}

:root {
  --white: whitesmoke;
  --black: black;
  --mainTextLight: #c4c9d8;
  --mainTextDark: #0f1225;
  --backgroundDark: linear-gradient(70deg, #0f1221, #0f1225 60%);
  --backgroundLight: linear-gradient(70deg, rgb(217, 219, 227), #d2d5dd);
  --hoverDark: rgba(15, 18, 37, 0.609);
  --activeDark: rgb(15, 18, 37, 0.8);
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--mainTextDark);
  background-image: var(--backgroundLight);
}

hr {
  border: none;
  border-top: 1px solid rgba(15, 18, 37, 0.5921568627);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 150px;
}
header h1 {
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 4.4rem;
  font-weight: 200;
}
header h1 i {
  margin-right: 10px;
}
header p {
  font-size: 1.6rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main h2 {
  font-weight: lighter;
}
main .title {
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
main .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  border: 1px solid var(--mainTextDark);
  border-radius: 8px;
  overflow: auto;
  padding: 10px;
  width: clamp(250px, 80vw, 600px);
}
main .options .title {
  font-size: 2.2rem;
}
main .options p {
  margin-bottom: 25px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}
main .options .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
main .options .controls button {
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  border: 1px solid var(--mainTextDark);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.3s, box-shadow 0.15s;
}
main .options .controls button i {
  margin-right: 5px;
}
main .options .controls button:hover {
  background-color: var(--hoverDark);
  color: var(--mainTextLight);
}
main .options .controls button:active {
  background-color: var(--activeDark);
  box-shadow: inset 4px 3px 5px rgba(0, 0, 0, 0.459);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
main .options .controls .delete-all {
  margin-bottom: 10px;
}
main .options .style-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
main .options .style-selection .color-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  width: 60%;
  max-width: 200px;
}
main .options .style-selection .color-buttons .light,
main .options .style-selection .color-buttons .dark {
  width: 40px;
  height: 40px;
  border: 1px solid var(--mainTextDark);
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.25s;
}
main .options .style-selection .color-buttons .light {
  background-color: var(--mainTextLight);
}
main .options .style-selection .color-buttons .light:hover {
  box-shadow: 0 0 15px #8b919e;
}
main .options .style-selection .color-buttons .dark {
  background-color: var(--mainTextDark);
}
main .options .style-selection .color-buttons .dark:hover {
  box-shadow: 0 0 15px #0f1225;
}
main .transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  border: 1px solid var(--mainTextDark);
  border-radius: 8px;
  overflow: auto;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  width: clamp(250px, 80vw, 850px);
  max-height: 500px;
}
main .transactions .title {
  letter-spacing: 1px;
  font-size: 2.2rem;
}
main .transactions h3 {
  margin-bottom: 15px;
  text-align: center;
}
main .transactions .transaction-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main .transactions .transaction-list .transactionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}
main .transactions .transaction-list .transactionsContainer .transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 80%;
}
main .transactions .transaction-list .transactionsContainer .transaction-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(90px, 50%, 94px);
  font-size: 1.8rem;
}
main .transactions .transaction-list .transactionsContainer .transaction-amount button {
  margin-left: 10px;
  padding: 6px 7px 4px 8px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}
main .transactions .transaction-list .transactionsContainer .transaction-amount button i {
  font-size: 2rem;
}
main .transactions .transaction-list .transactionsContainer .transaction-amount button:hover {
  transform: scale(0.85);
}
main .transactions .transaction-list .transactionsContainer .transaction-name i {
  margin-right: 5px;
  margin-bottom: 5px;
}
main .transactions .transaction-list .income-area,
main .transactions .transaction-list .expenses-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  max-height: 600px;
}
main .transactions .transaction-list .income-area h3,
main .transactions .transaction-list .expenses-area h3 {
  font-size: 2rem;
}
main .transactions .transaction-list .income-area {
  margin-bottom: 10px;
  padding: 10px;
}
main .transactions .transaction-list .income-area h3,
main .transactions .transaction-list .income-area .transaction-amount {
  color: rgb(37, 167, 102);
  font-weight: bold;
}
main .transactions .transaction-list .expenses-area {
  margin-top: 25px;
}
main .transactions .transaction-list .expenses-area h3,
main .transactions .transaction-list .expenses-area .transaction-amount {
  color: rgb(190, 56, 46);
  font-weight: bold;
}

.add-transaction-panel {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--mainTextLight);
  background-image: var(--backgroundDark);
}
.add-transaction-panel .title {
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 1.9rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.add-transaction-panel label {
  margin-top: 15px;
  font-size: 2rem;
}
.add-transaction-panel small {
  margin-bottom: 10px;
  color: rgba(178, 176, 176, 0.634);
  font-size: 1rem;
  word-wrap: break-word;
  text-align: center;
}
.add-transaction-panel input,
.add-transaction-panel select {
  padding: 6px 14px;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
}
.add-transaction-panel input,
.add-transaction-panel select,
.add-transaction-panel option {
  font-size: 1.6rem;
}
.add-transaction-panel select {
  margin-bottom: 30px;
}
.add-transaction-panel .panel-buttons {
  display: flex;
  justify-content: center;
}
.add-transaction-panel button {
  margin: 0 15px;
  padding: 8px 16px;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.3s, box-shadow 0.15s;
}
.add-transaction-panel button:hover {
  background-color: rgba(38, 43, 78, 0.609);
  color: var(--mainTextLight);
}
.add-transaction-panel button:active {
  background-color: var(--activeDark);
  box-shadow: inset 4px 3px 5px rgba(0, 0, 0, 0.459);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  main .options .controls button {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 50px;
  }
  main {
    flex-direction: row;
    justify-content: space-around;
  }
  main .options {
    order: 2;
    margin-right: 20px;
    width: 400px;
  }
  main .transactions .transaction-list {
    flex-direction: row;
    align-items: flex-start;
  }
  main .transactions .transaction-list .income-area {
    padding: 0;
  }
  main .transactions .transaction-list .expenses-area {
    margin-top: 10px;
  }
  main .transactions .transaction-list .transaction-amount button {
    padding: 6px 7px 4px 8px;
  }
}/*# sourceMappingURL=main.css.map */