*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background-color: none;
    color: none;
}

html {
    font-size: 62.5%;
}

:root {
    --white: whitesmoke;
    --black: black;
    --mainTextLight: #c4c9d8;
    --mainTextDark: #0f1225;
    --backgroundDark: linear-gradient(70deg, #0f1221, #0f1225 60%);
    --backgroundLight: linear-gradient(70deg, rgb(177, 193, 238), #b5c2ed);
}
