@use 'reset' as *;
@use 'mixins' as *;

body {
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: var(--mainTextDark);
	background-image: var(--backgroundLight);
}

hr {
	border: none;
	border-top: 1px solid #0f1225e0;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
	height: 150px;

	h1 {
		letter-spacing: 1px;
		margin-bottom: 5px;
		font-size: 4.4rem;
		font-weight: 200;

		i {
			margin-right: 10px;
		}
	}

	p {
		font-size: 1.6rem;
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	h2 {
		font-weight: lighter;
	}

	.title {
		margin-top: 15px;
		margin-bottom: 15px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.8rem;
	}

	.options {
		@include box;
		padding: 10px;
		width: clamp(250px, 80vw, 600px);

		.title {
			font-size: 2.2rem;
		}

		p {
			margin-bottom: 25px;
			text-align: center;
			font-size: 3.2rem;
			font-weight: bold;
		}

		.controls {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 80%;

			button {
				margin-bottom: 15px;
				padding: 10px;
				width: 200px;
				border: 1px solid var(--mainTextDark);
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.1s, color 0.3s, box-shadow 0.15s;

				i {
					margin-right: 5px;
				}

				&:hover {
					background-color: var(--hoverDark);
					color: var(--mainTextLight);
				}

				&:active {
					background-color: var(--activeDark);
					box-shadow: inset 4px 3px 5px rgba(0, 0, 0, 0.459);
					text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
				}
			}

			.delete-all {
				margin-bottom: 10px;
			}
		}

		.style-selection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 80%;

			.color-buttons {
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 15px;
				width: 60%;
				max-width: 200px;

				.light,
				.dark {
					width: 40px;
					height: 40px;
					border: 1px solid var(--mainTextDark);
					border-radius: 50%;
					cursor: pointer;
					transition: box-shadow 0.25s;
				}

				.light {
					background-color: var(--mainTextLight);

					&:hover {
						box-shadow: 0 0 15px #8b919e;
					}
				}

				.dark {
					background-color: var(--mainTextDark);

					&:hover {
						box-shadow: 0 0 15px #0f1225;
					}
				}
			}
		}
	}

	.transactions {
		@include box;
		margin-right: 20px;
		margin-left: 20px;
		padding: 10px;
		width: clamp(250px, 80vw, 850px);
		max-height: 550px;

		.title {
			letter-spacing: 1px;
			font-size: 2.2rem;
		}

		h3 {
			margin-bottom: 15px;
			text-align: center;
		}

		.transaction-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: space-around;
			width: 100%;

			.transactionsContainerIncome, .transactionsContainerExpenses {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				width: 250px;
				max-height: 200px;
				overflow: auto;

				.transaction {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
					padding: 5px;
					width: 80%;
					border: 1px solid rgba(0, 0, 0, 0.193);
					border-radius: 8px;

					&-amount {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 100%;
						font-size: 1.8rem;

						button {
							margin-left: 10px;
							padding: 6px 7px 4px 8px;
							background: none;
							border: none;
							border-radius: 5px;
							cursor: pointer;
							transition: transform 0.3s;

							i {
								font-size: 2rem;
							}

							&:hover {
								transform: scale(0.85);
							}
						}
					}

					&-name {
						width: 100%;
						text-align: center;

						i {
							margin-right: 5px;
							margin-bottom: 5px;
						}
					}
				}
			}

			.income-area,
			.expenses-area {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				margin-top: 10px;
				width: 100%;
				max-height: 600px;

				h3 {
					font-size: 2rem;
				}
			}

			.income-area {
				margin-bottom: 10px;
				padding: 10px;
				// border-bottom: 1px solid rgba(0, 0, 0, 0.6);

				h3,
				.transaction-amount {
					color: rgb(37, 167, 102);
					font-weight: bold;
				}
			}

			.expenses-area {
				margin-top: 25px;

				h3,
				.transaction-amount {
					color: rgb(190, 56, 46);
					font-weight: bold;
				}
			}
		}
	}
}

.add-transaction-panel {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 10%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--mainTextLight);
	background-image: var(--backgroundDark);

	.title {
		margin-bottom: 10px;
		letter-spacing: 1px;
		font-size: 1.9rem;
		font-weight: lighter;
		text-transform: uppercase;
	}

	label {
		margin-top: 15px;
		font-size: 2rem;
	}

	small {
		margin-bottom: 10px;
		color: rgba(178, 176, 176, 0.634);
		font-size: 1rem;
		word-wrap: break-word;
		text-align: center;
	}

	input,
	select {
		padding: 6px 14px;
		width: 60%;
		border: 1px solid black;
		border-radius: 5px;
	}

	input,
	select,
	option {
		font-size: 1.6rem;
	}

	select {
		margin-bottom: 30px;
	}

	.panel-buttons {
		display: flex;
		justify-content: center;
	}

	button {
		margin: 0 15px;
		padding: 8px 16px;
		font-size: 1.4rem;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.1s, color 0.3s, box-shadow 0.15s;

		&:hover {
			background-color: rgba(38, 43, 78, 0.609);
			color: var(--mainTextLight);
		}

		&:active {
			background-color: var(--activeDark);
			box-shadow: inset 4px 3px 5px rgba(0, 0, 0, 0.459);
			text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
		}
	}
}

//-------------------------------------------------------------
//-------------------------------------------------------------
//-------------------------------------------------------------
//-------------------------------------------------------------
//-------------------------------------------------------------

@media only screen and (min-width: 320px) and (max-width: 375px) {
	main {
		.options {
			.controls {
				button {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	header {
		margin-bottom: 50px;
	}

	main {
		flex-direction: row;
		justify-content: space-around;

		.options {
			order: 2;
			margin-right: 20px;
			width: 400px;
		}

		.transactions {
			height: 450px;

			.transaction-list {
				flex-direction: row;
				align-items: flex-start;

				.income-area {
					padding: 0;
				}

				.expenses-area {
					margin-top: 10px;
				}

				.transactionsContainer {
					.transaction {
						&-amount {
							button {
								padding: 6px 7px 4px 8px;
							}
						}
					}
				}
			}
		}
	}

	.add-transaction-panel {
		.title {
			font-size: 3rem;
		}

		small {
			font-size: 1.4rem;
		}
	}
}
